{% extends "base.html" %}

{% block title %} 3D Renders {% endblock %}

{% block content %} 

		<section>
			
		
			<h1>Alta Mira</h1>


			<p>Alta-Mira est une installation immersive interactive qui a pour but de recréer l'ambiance d'une caverne inspirée du temps de la préhistoire. S’interrogeant sur ce qui serait tracé comme message intemporel, cette installation peint le portrait d'une société moderne et de ses vices, et la fige dans cette caverne numérique.</p>

		
			<p>Alta-Mira is an immersive interactive installation that aims to recreate the atmosphere of a cave as in prehistoric times. Wondering what would be left as a timeless message, this installation paints a portrait of a modern society and its vices, and freezes it in this digital cavern.</p> 


			<div class="video">
				<iframe src="https://player.vimeo.com/video/267251277" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>


		</section>

{% endblock %}

