{% extends "base.html" %}

{% block title %} Electronique {% endblock %}

{% block content %} 

	<section>

			<h1>Électronique</h1>

			<p>Ces projets d'électronique ont été conçu dans le cadre du Bac en médias interactifs à l'UQAM.</p>

			<div class="video">
				<iframe src="https://player.vimeo.com/video/247622175" width="640" height="240" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>
			

			<div class="video">
				<iframe src="https://player.vimeo.com/video/247037562" width="640" height="468" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>
			

		</section>

{% endblock %}


