{% extends "base.html" %}

{% block title %} Horizon {% endblock %}

{% block content %} 


		<!-- Body -->
		<h1>Horizon</h1>

		<section>
			
			<p>Installation de type triptyque présenté dans le cadre du baccalauréat en médias interactifs à l'Université du Québec à Montréal.</p>
	

			<div class="video-horizon">
				<iframe src="https://player.vimeo.com/video/243398017" width="900" height="240" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>

			<p> </p>

		</section>


{% endblock %}

