{% extends "base.html" %}

{% block title %} Lost Screen Dream {% endblock %}

{% block content %} 

	<!-- Body -->
		<h1>Lost Screen Dream</h1>

		<section>
			
			<p>Lost Screen Dream est une performance / projection d'une minute présentée dans le cadre de la soirée Minute Mapping à la Société des Arts Technologiques. Elle présente le salon d'une personne dans une situation de délire ou de folie. La projection s'est méritée la mention coup de coeur d'un des jury.</p>

			<p>Lost Screen Dream is a one-minute performance / projection presented as part of the Minute Mapping event at the Société des Arts Technologiques. It presents the living room of a person in a situation of madness. The project earned an honorable mention of one of the jury.</p>

			<img src="static/img/images/Lost-Screen-Dream/Lost-Screen-Dream.png" alt="Lost-Screen-Dream" style = "width: 100%; height: 100%; ">

			<p> </p>

		</section>

{% endblock %}
	
