{% extends "base.html" %}

{% block title %} Mecanique des fluides {% endblock %}

{% block content %} 


		<section>
		<!-- Body -->
			<h1>La mécanique des fluides</h1>

			<p>Il s’agit de deux installations qui combinent son, lumière et projections. Les visiteurs ont l’occasion d’interagir avec les différents éléments qui composent l’univers de La mécanique des fluides. Immergés dans l’immensité d’un paysage de glace ou baignés dans le clair-obscur d’une salle de canalisation, les spectateurs s’emparent des différents états de la matière via le numérique.</p>

			<p>Au Quartier des spectacles de Montréal <br>
			Du 21 février au 3 mars 2019 <br>
			Dans le cadre du parcours Illuminart de MONTRÉAL EN LUMIÈRE</p>

			<h2>La Centrale</h2>

			<p>La Centrale est constituée d’une multitude de conduits lumineux reliés à la turbine.
			Prenez le contrôle de la Centrale et activez la turbine en connectant le plus de conduits gazeux possibles au Pavillon V de l’UQAM, coin Hôtel-de-ville et Ste-Catherine Est.</p>

			<section class = 'mecanique'>
				<div> <img src="static/img/images/mecanique_fluides/centrale_01.jpg" alt="Centrale"> </a> </div>
				<div> <img src="static/img/images/mecanique_fluides/centrale_02.jpg" alt="Centrale"> </a> </div>
			</section>
		

			<h2>Le delta</h2>
			<p>Le Delta, c’est ce vaste paysage dans lequel s’étend une portée de glaciers.
			Venez contrôler l’état du Delta en vous asseyant sur un glacier et observez l’impact de vos actions dans cet environnement captivant au métro Saint-Laurent.</p>

			<section class = 'mecanique'>
				<div> <img src="static/img/images/mecanique_fluides/delta_01.jpg" alt="Delta"> </a> </div>
				<div> <img src="static/img/images/mecanique_fluides/delta_02.jpg" alt="Delta"> </a> </div>
			</section>

		</section>

{% endblock %}
