{% extends "base.html" %}

{% block title %} Mitose {% endblock %}

{% block content %} 

	<!-- Body -->
		<h1>Mitose</h1>

		<section>
			
			<p>Mitose est une performance audioviduelle qui a pour but d’illustrer les confrontations présentes dans certaines relations interpersonnelles. Cette oeuvre cherche a nous faire ressentir toutes les dimensions que peuvent occasionner une relation avec autruit ou avec soit-même.</p>

			<p>La synesthésie entre le son et l’image nous pousse à l’extérieur de notre zone de confort. Cette dernière se brise par la relation parallèle ou déconstruite des performeurs. Mitose se fonde ainsi sur la dualité entre les phases d’excitation et de dépression présentes chez les êtres humains.</p>

			<img src="static/img/images/Mitose/mitose.jpg" alt="Mitose" style = "width: 100%; height: 90%; ">	

			<div class="video">
				<iframe src="https://player.vimeo.com/video/397219273" width="6100" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen> </iframe>
			</div>

			<p> </p>

		</section>

{% endblock %}

