{% extends "base.html" %}

{% block title %} Mitose {% endblock %}

{% block content %} 

		<!-- Body -->

		<section>
			
		
			<h1>Perturbations</h1>


			<p>Installation interactive sur le thème de l'impact des humains sur l'environnement présenté dans le cadre du DEC en communication médias interactifs. Le projet est assemblé dans TouchDesigner.</p>

			<p>L'interaction entre les utilisateurs permet de faire changer l'environnement. Celui-ci est perturbé par la présence des humains et la seule manière de la ramener à l'ordre est de s'aider et de se tenir par la main pour faire changer la trame sonore ainsi que l'image affichée qui devient alors une belle image de nature.</p>


			<div class="video">
				<iframe src="https://player.vimeo.com/video/243411593" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>

		</section>

{% endblock %}

