{% extends "base.html" %}

{% block title %} Projet Do {% endblock %}

{% block content %} 

		<section>
			
		
			<h1>Projet Do</h1>


			<p>Performance interactive ayant pour thème les arts martiaux. Projet réalisé dans le cadre du baccalauréat en médias interactifs à l'Université de Montréal à Québec. </p>


			<div class="video">
				<iframe src="https://player.vimeo.com/video/248242076" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>

		</section>

{% endblock %}
